* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  overflow-x: hidden;
  font-size: 2vh;
}

#footer {
  background-color: white!important;
}
.useful-links {
  list-style:  none;
  padding-left: 5px;
}
.useful-links li {
  list-style: none !important;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 15px;
}

.useful-links li:hover {
  color: #3498db;
}
.useful-links li::before {
  content: "\003E"; /* Arrow icon */
  color: #3498db;
  padding-right: 5px;
  font-size: 20px;
}


.contact-icon:hover {
  color:rgb(234, 244, 251)!important;
  background-color: rgb(52, 152, 219)!important;
  transition: ease-in-out 0.3s!important;                                        
}

#header {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.491);
}

.progress-container {
  padding: auto;
}
.progress-bar {
  background-color: rgb(52, 152, 219) !important;
}

a {
  color: black;
  text-decoration: none;
}
.navbar ul li {
  font-size: 18px;
}
.nav-link {
  color: black !important;
}
.nav-link:hover {
  color: rgb(87, 208, 255) !important;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(87, 208, 255);
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  color: rgb(181, 229, 248);
}

.text-overlay {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
}

.span1 {
  text-decoration: underline;
  text-decoration-color: aqua;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title1 {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  bottom: 100px;
  background: #a0a0a0;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #3498db;
  bottom: 100px;
  left: calc(50% - 20px);
}
.section-title1 h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  background: #afafaf;

  left: calc(50% - 60px);
}

.section-title1 h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #3498db;
  left: calc(50% - 20px);
}
.btn:hover {
  background-color: #3498db !important;
}

.icon1 {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}
.icon1:hover {
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p {
  text-transform: uppercase;
  font-size: small;
}

.filter-button {
  font-size: 18px;
  border: 1px solid #afbbad;
  border-radius: 5px;
  text-align: center;
  color: rgb(52, 152, 219);
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.filter-button:hover {
  font-size: 18px;
  border: 1px solid #1481d4;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: rgb(52, 152, 219) !important;
}
.btn-default:active .filter-button:active {
  background-color: #0d09ff;
  color: rgb(255, 255, 255);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 100px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.portfolio-img:hover .overlay {
  opacity: 1;
  color: white;
  transition: 0.3s ease-out;
}

.portfolio-img:hover {
  filter: brightness(70%);
  transition: 0.5s ease-out;
}

.icon {
  color: black;
  margin: 10px;
  padding: 5px;
  font-size: 40px;
  top: -50%;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }
  .text-overlay {
    top: -1;
  }
}

/* @media (min-width: 768px) {
  .container-md,
  .container-sm {
    max-width: 720px;
  }
} */
.navbar {
  position: sticky !important;
  top: 0;
}
